/* Lien vers la police "Ubuntu" */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

html {
	background-color: #16a085; /* Couleur de fond */
	font-family: Ubuntu, Verdana, sans-serif;
}

body {
	max-width: 600px;	/* Largeur maximale */
	margin: auto;		/* Centre horizontalement si une largeur est fixée */
	margin-top: 30px;	/* Espacement au dessus */
	padding: 30px 50px; /* Deux valeurs : haut/bas et gauche/droite */
	border-radius: 3px; /* Coins arrondis */
	border-top:    15px solid #0c5547;
	border-bottom: 15px solid #0c5547;
	background-color: #ecf0f1;
}


/* Titres */
h1 {
	color: #0c5547;
	margin-bottom: 0; /* Annule la mise en page par défaut */
}
h2 {
	margin-top: 5px;
	color: #999999;
	font-size: 1.2em;
}
h3 {
	margin-top: 30px;
	color: #16a085;
}


/* Listes */
ul {
	list-style-type: none; /* Pas de puce par défaut */
	color: #2c3e50;
}


/* Spécificités */
#photo {
	float: right;
	box-shadow: 5px 5px 5px #ccc;
	border-radius: 15px 0; /* Bords arrondis, un angle sur deux */
	border: 2px solid #ccc;
}
#coordonnees {
	list-style-type: square;
}
#langues {
	list-style-type: circle;
}

